.input {
  background-color: whitesmoke;
  margin: 0.5em;
}

.textfields {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 481px) {
  .textfields {
    flex-direction: row;
  }
}
