.home {
  color: var(--homeText-color);
}

.title {
  background-color: var(--home-background);
  font-family: var(--pirataOne);
  color: var(--homeTitle-color);
  font-size: 14px;
  margin: 0.5em;
  padding: 0.2em;
  text-align: center;
  border-radius: 2px;
  text-shadow: rgb(0, 0, 0) 2px 2px;
}

.sort {
  background-color: var(--home-background);
  margin: 1em;
  padding: 0.4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 481px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .sort {
    width: 20em;
  }
}
