@import url("https://fonts.googleapis.com/css2?family=Pirata+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

:root {
  /* fonts */
  --pirataOne: "Pirata One", cursive;
  --roboto: "Roboto", sans-serif;

  /* header */
  --header-background: #141416;
  --header-color: #d8c99d;

  /* home */
  --home-background: #2e2e2e;
  --homeTitle-color: #d8c99d;
  --homeText-color: whitesmoke;
}
body {
  margin: 0;
  padding: 0;
  background-color: rgb(8, 8, 8);
  font-family: var(--roboto);
}

h1 {
  font-family: var(--pirataOne);
  color: var(--header-color);
}

button {
  background-color: #d8c99d;
  border-radius: 3px;
  border: none;
  color: white;
  margin: 0.5em;
  cursor: pointer;
  padding: 1em;
}

select {
  background-color: #2e2e2e;
  color: #d8c99d;
  cursor: pointer;
  width: 100%;
}

@media screen and (min-width: 481px) {
  select {
    width: auto;
  }
}
